/*
variables
*******************************************************************************/

// grid variables
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;
$color-black: #000;
$color-white: #fff;
$color-grey: #7c7c7c;

/*
mixins
*******************************************************************************/

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin perfectCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
base styles
*******************************************************************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba($color-black, .3), rgba($color-black, 0)), url('./../images/yoga_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:visited {
    color: $color-white;
  }
}

p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.button {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  display: inline-block;
  padding: 1rem;

  &-black {
    @extend: .button;
    background-color: #1f1f1f;
    color: $color-white;
    transition: all .6s ease;

    &:hover {
      opacity: .8;
    }
  }
}

.section {

  &-header {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
    // text-transform: uppercase;
    font-weight: 100;
    color: $color-black;
    letter-spacing: 2px;
    font-size: 2.5rem;
  }

  &-content {
    margin-bottom: 1.5rem;
  }
}

/*
navigation
*******************************************************************************/

nav {
  // background-image: linear-gradient(to bottom, rgba($color-black, .9), rgba($color-black, .8));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  & ul {
    display: table;
    width: 100%;

    & li {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      padding: 0 1rem;

      & a.logo {
        display: inline-block;
        padding: 0 1rem;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      & ul.nav-item-parent {
        width: 50%;
        padding: 1rem;
        margin-left: auto;

        & li.nav-item  {
          text-align: center;

          &:last-child {
            padding: 0 0 0 1rem;
          }

          & a {
              display: inline-block;
              padding: 1rem .5rem;
          }
        }
      }
    }
  }
}

.nav-link {
  color: whitesmoke;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: all .6s ease;

  &:hover:not(.logo) {

  }

  &-button {
    @extend .button;
    color: whitesmoke;
    border: solid 1px whitesmoke;
    transition: all .6s ease;

    &:hover {
      background-color: whitesmoke;
      color: $color-black;
    }
  }
}

/*
header text
*******************************************************************************/

.header-text {
  margin: 2rem 0 0 0;
  @include perfectCenter
  width: 100%;
  text-align: center;

  & h1 {
    font-weight: 100;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 3.5rem;
  }

  & > a.hero-button {
    @include .button;
    margin: 1.75rem 0 0 0;
  }
}

/*
sections
*******************************************************************************/

.hero {

}

.yoga-section {
  height: 80vh;
  position: relative;

  &-content {
    @include perfectCenter;

    & p {
      text-align: center;
      line-height: 2rem;
    }
  }
}

.about-section {
  height: 100vh;
  position: relative;

    &::after {
      content: "";
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background-image: linear-gradient(to top, rgba($color-black, .1), rgba($color-black, .1)), url('./../images/yoga_1.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }

  &-content {
    @include perfectCenter;
    text-align: center;

    & p {
      line-height: 2rem;
    }
  }
}

.classes-section {
  height: 80vh;
  position: relative;

  &-content {
    @include perfectCenter;
    text-align: center;

    & p {
      line-height: 2rem;
    }
  }
}

.footer-section {
  background-color: rgba($color-black, .8);
  height: 25vh;
  position: relative;

  &-content {
    @include perfectCenter;

    & p {
      text-align: center;
      line-height: 2rem;
      color: $color-grey;
    }
  }
}

/*
utilities
*******************************************************************************/

.u-float-right {
  float: right;
}

/*
grid scss
*******************************************************************************/

// .row {
//   max-width: $grid-width;
//   margin: 0 auto;
//
//   &:not(:last-child) {
//     margin-bottom: $gutter-vertical;
//
//     @include respond(tab-port) {
//       margin-bottom: $gutter-vertical-small;
//     }
//   }
//
//   @include respond(tab-port) {
//     max-width: 50rem;
//     padding: 0 3rem;
//   }
//
//   @include clearfix;
//
//   [class^='col-'] {
//     float: left;
//
//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;
//
//       @include respond(tab-port) {
//         margin-right: 0;
//         margin-bottom: $gutter-vertical-small;
//       }
//     }
//
//     @include respond(tab-port) {
//       width: 100%!important;
//     }
//   }
//
//   .col-1-of-2 {
//     width: calc((100% - #{$gutter-horizontal}) / 2);
//   }
//
//   .col-1-of-3 {
//     width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
//   }
//
//   .col-1-of-4 {
//     width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
//   }
//
//   .col-2-of-3 {
//     width: calc( 2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal} );
//   }
//
//   .col-2-of-4 {
//     width: calc( 2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal} );
//   }
//
//   .col-3-of-4 {
//     width: calc( 3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal} );
//   }
//
// }
