doctype html
html(lang='en')
  head
    title Gulp, Pug, SCSS boilerplate
    link(rel="stylesheet" type="text/css" href="./css/main.css")
  body
    header
      h1.header-text Hello, Boilerplate!
      p My boilerplate setup.
    main
      h2 main section of document.
      
    //- script(type="text/javascript" src="./js/main.js)
