doctype html
html(lang='en')
  head
    title Anna Catlin Yoga 
    link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="./css/main.css")
      
  body
    
    .hero
      header
        nav.nav
          ul.nav-list
            li
              a(href='#' class="logo logo-link") Anna Catlin
            li
              ul.nav-item-parent
                li.nav-item 
                  a(href='#' class="nav-link") Yoga
                li.nav-item 
                  a(href='#' class="nav-link") About
                li.nav-item 
                  a(href='#' class="nav-link") Classes
                li.nav-item 
                  a(href='#' class="nav-link-button") Contact
                  
        .header-text
          h1 Welcome to this beautiful and #[br] ancient practice
          a(href='#' class="nav-link-button hero-button") Join today
                
    main
       
      .yoga-section
        .yoga-section-content
          h2.section-header Why choose yoga?
          p.section-content Yoga can improve your mind and body. Visiting a yoga class won’t just help you get fit and flexible. You can also expect to reduce stress, increase concentration, and improve your posture. Need more convincing?
          
      .about-section
        .about-section-content
          h2.section-header Anna has been an accredited teacher for 24 years
          p.section-content So you know you are in good hands.
          a(href='#' class="button button-black") Join today
          
      .classes-section
        .classes-section-content
          h2.section-header Come and join us
          p.section-content Whether you are a beginner, or have practiced some yoga before
          
      .contact-section
        .contact-section-content
          h2.section-header Find out more
          p.section-content Contact me via email, phone, form etc..
          
      .footer-section
        footer.footer-section-content
          p &copy; Anna Catlin 2019
        
    
    script(type="text/javascript" src="./js/main.js")
